body, html {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d9e6f6;
  }
  
  .__header--container {
    /* width: 100%; */
    background-color: #7198cd;
    padding: 24px 16px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .__header--content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .__search--form {
    display: flex;
    align-items: center;
    column-gap: 20px;
    color: white;
    font-size: 0.9em;
  }
  
  div.__form {
    background-color: #607fb0;
    border-radius: 10px;
    padding: 6px 14px;
  }
  
  input {
    width: 250px;
    height: 25px;
    font-size: 0.8em;
  }
  
  .menu {
    font-size: .9em;
    color: white;
  }
  
  .menu ul {
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    display: inline;
    margin-right: 10px;
  }
  .__friends--container {
    background-color: white;
    border-radius: 12px;
    padding: 10px 24px;
  }
  .__friends--list {
    display: flex;
    justify-content: space-between;
    color: #6e96d5;
  }
  
  .__friends--list img {
    max-width: 160px;
    height: auto;
    max-height: 180px;
  }
  
  .__friend--name {
    color: #6e96d5;
    font-size: 0.9em;
  }
  
  .__friends--list .__friend--name {
    text-align: center;
  }
  h3 {
    margin: 4px 0;
    font-size: 1.2em;
  }
  
  h4 {
    margin: 4px 0;
    font-size: 0.9em;
  }
  
  .__body--container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
  }
  
  .__body--container .__sections {
    background-color: white;
    border-radius: 6px;
    padding: 8px 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .__sections.__welcome {
    border-top-right-radius: 100px;
  }
  
  .__welcome table {
    font-size: 0.8em;
  }
  .__left {
    max-width: 250px;
  }
  
  .__left img {
    width: 100%;
    height: auto;
  }
  .__left, .__center {
    /* max-width: 33.3%; */
    margin-right: 15px;
    margin-top: 20px;
  }
  .__right {
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .__comunities--container {
    background-color: white;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px 12px;
    min-width: 500px;
  }
  .__comunities--list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px 10px; /* row-gap column gap */
  }
  
  .__comunities--list > .__comunity {
    flex: 1 1 30%;
    text-align: center;
    color: #6e96d5;
    background-color: #f0f0f0;
    width: 130px;
    height: 220px;
    padding: 10px 5px;
    font-size: 0.8em;
  }
  
  .__comunities--list > .__comunity > img {
    width: 100%;
    height: auto;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .__left li {
    background-color: #eff7ff;
    border: 1px solid #e0e4e9;
    font-weight: 300;
  }
  .__depositions--container {
    background-color: #eff7fe;
    display: flex;
  }
  .__depositions--content {
    white-space: nowrap;
    padding: 10px;
  }
  
  .__depositions--img {
    width: 150px;
  }
  
  .__depositions--img img {
    width: 100%;
    height: auto;
  }